LAB 01

1.WAP to print first record from dataset.
2.WAP to display first attribute of the dataset.
3.Print all attributes of the loaded dataset.
4.calculate the average of a numeric column.
5.Add a column called age and salary to the existing dataset.
6.Split the csv file into two sub csv files.
7.filter salary column using salary>20000 condition
8.sort the data using salary column

In [28]:
import pandas as pd
import statistics as st

In [29]:
#1
data_reader=pd.read_csv("student_details.csv")
data_reader.head(1)

         Name  ROll_number  DMDW_MARKS  FLAT_MARKS  CN_MaRKS
0  ADITYA DAS            1          25          25        24

In [30]:
#2
data_reader.columns[0]

'Name'

In [31]:
#3
for i in data_reader.columns:
    print(i,end="\t",sep=",")

Name	ROll_number	DMDW_MARKS	FLAT_MARKS	CN_MaRKS

In [32]:
#4
print(f'mean of DMDW marks is:\t{float(data_reader['DMDW_MARKS'].mean())}')

mean of DMDW marks is:	25.25

In [35]:
#5
import random as rn

ages=[]
for i in range(0,20):
    random_ages=rn.randint(18,30)
    ages.append(random_ages)

data_reader['age']=ages
data_reader['age']

0     20
1     19
2     28
3     24
4     21
5     24
6     24
7     25
8     30
9     21
10    23
11    27
12    30
13    28
14    23
15    20
16    22
17    30
18    22
19    21
Name: age, dtype: int64

In [34]:
#6
middle = len(data_reader)//2
csv1=data_reader.iloc[:middle]
csv2=data_reader.iloc[middle:]

csv1.to_csv("csv1.css")
csv2.to_csv("csv2.csv")